__pycache__
.vscode
*.env
!env/template.env
.pytest_cache
.coverage
htmlcov
assets/*
!assets/I_choose_you_logo.png
!assets/I_choose_you_banner_centered.png
!assets/documentation
!assets/font
*.gif

*.so
*.c
*.o
